{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div>
            <span>
              <a href="{{ post.url }}">{{post.title}}</a>
            </span>
            <small> 
              <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date: " %Y.%m.%d" }}
              {% assign past_ts = post.date | date: '%s' | plus: 0 %}
              {% assign current_ts = site.time | date: '%s' | plus: 0 %}
              {% assign delta_ts = current_ts | minus: past_ts %}
              {% assign seven_days_ts = 86400 | times: 1 %}
              {% if seven_days_ts > delta_ts %}
                  <i style="color:#FF4500; text-shadow: 0px 1px #ffffff, 2px 2px 0px #dad7d7;" class="fas fa-pen" aria-hidden="true"><strong>NEW</strong></i>
              {% endif %}
              {% if site.category_archive.type and post.categories[0] and site.tag_archive.type and post.tags[0] %}
              {% endif %}
            </small>
              <div style="font-size: 10px;">
                {%- include post__taxonomy.html -%}
              </div>
            <br>
        </div>
      </article>
</div>
