<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<!--전체 글 수 변수-->
{% assign sum = site.posts | size %}
  <li>
  📂 <span style="font-family:'Cafe24Oneprettynight';">전체 글 수</span> 
  <span style="font-family:'Coming Soon';">{{sum}}</span>
  <span style="font-family:'Cafe24Oneprettynight';">개</span> 
</li>
<!--전체 글 수-->